:root {
    --pinyin-color: #9baacf;
    --simplified-color: #5f8dd3;
    --traditional-color: #5599ff;
    --meaning-color: #ff6600;
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --flag-none-color: #9baacf;
    --flag-red-color: #f44336;
    --flag-blue-color: #2196f3;
    --flag-orange-color: #ff9800;
    --flag-green-color: #4caf50;
    --btn-show-ans-bg-color: #37c8ab;
    --btn-show-ans-light: #5fd3bc;
    --btn-show-ans-dark: #2ca089;
    --btn-ans-1-bg-color: #f44336;
    --btn-ans-1-light: #ff5555;
    --btn-ans-1-dark: #d40000;
    --btn-ans-2-bg-color: #5f8dd3;
    --btn-ans-2-light: #87aade;
    --btn-ans-2-dark: #3771c8;
    --btn-ans-3-bg-color: #37c871;
    --btn-ans-3-light: #5fd38d;
    --btn-ans-3-dark: #2ca05a;
    --btn-ans-4-bg-color: #2a7fff;
    --btn-ans-4-light: #5599ff;
    --btn-ans-4-dark: #0055d4;
    --box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

header2 {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.show-ans-button {
    margin: 1rem;
    height: 2.6rem;
    border-radius: 0.6rem;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    color: var(--greyLight-1);
    font-size: 1.2rem;
    user-select: none;
    background: var(--btn-show-ans-bg-color);
}

.show-ans-button:active {
    box-shadow: inset .2rem .2rem 1rem var(--btn-show-ans-dark), inset -.2rem -.2rem 1rem var(--btn-show-ans-light);
}

.ans-buttons-bottom {
    display: flex;
    justify-content: space-evenly;
}

.ans-buttons {
    margin: 0.4rem;
    height: 2.6rem;
    width: 10rem;
    border-radius: 0.6rem;
    box-shadow: var(--box-shadow);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    color: var(--greyDark);
    font-size: 1.0rem;
    user-select: none;
}

/* answer button 1 */

.ans1 {
    display: block;
    color: var(--greyLight-1);
    background: var(--btn-ans-1-bg-color);
}

.ans1:active {
    box-shadow: inset .2rem .2rem 1rem var(--btn-ans-1-dark), inset -.2rem -.2rem 1rem var(--btn-ans-1-light);
}

/* answer button 2 */

.ans2 {
    display: block;
    color: var(--greyLight-1);
    background: var(--btn-ans-2-bg-color);
}

.ans2:active {
    box-shadow: inset .2rem .2rem 1rem var(--btn-ans-2-dark), inset -.2rem -.2rem 1rem var(--btn-ans-2-light);
}

/* answer button 3 */

.ans3 {
    display: block;
    color: var(--greyLight-1);
    background: var(--btn-ans-3-bg-color);
}

.ans3:active {
    box-shadow: inset .2rem .2rem 1rem var(--btn-ans-3-dark), inset -.2rem -.2rem 1rem var(--btn-ans-3-light);
}

/* answer button 4 */

.ans4 {
    display: block;
    color: var(--greyLight-1);
    background: var(--btn-ans-4-bg-color);
}

.ans4:active {
    box-shadow: inset .2rem .2rem 1rem var(--btn-ans-4-dark), inset -.2rem -.2rem 1rem var(--btn-ans-4-light);
}